*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    background-color: #FFF;
    line-height: 2;
    letter-spacing: 1px;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

nav{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between !important;
    background-color: black;
    padding: 15px 0 15px 0 !important;

}

.navbar a{
    text-decoration: none;
    color: white;
    transition: all .5s ease-in-out;

}

.navbar a:hover{
    color: #AD00FF;
    cursor: pointer;
}

.nav-list{
    list-style-type: none;
    padding-right: 40px;
    position: relative;
}

.nav-list .list-item{
    display: inline-block;
    padding: 35px 10px 10px 10px;
}
.logo{
    padding: 10px 0 10px 50px;
    position: relative;
}
.logo img{
    position: relative;
}
.menu{
    display: none;
    padding-top: 20px;
    position: relative;
}
.menu-line{
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #ad00ff;
    margin-bottom: 4px;
}


/*----------------------------*/
.banner{
    background-color: black;
    color: white;
    padding-top: 200px;
    margin: 0 -20px;;
}
.banner-title{
    font-size: 95px;
    padding: 100px 0 10px;
    letter-spacing: 20px;
    font-weight: bold;
}
.banner-title2{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 10px 0 400px;
    letter-spacing: 25px;
    color: rgb(173, 177, 180);

}


.welcome{
    background-color: white;
    padding: 200px 0 200px 0;
}
.welcome-title{
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: -50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.welcome-title span{
    color: rgb(208, 6, 249);
    font-weight: 400;
}
.welcome-titleCreate{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.3;
    padding-top: 30px;
    display: flex;
    justify-content: center;

}
.welcome p{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    background-color: #FFF;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px 280px 0 280px;
}

.item-responseive{
    background-color: #ad00ff;
    padding: 80px
}
.listItem-resCusMod{
    padding-bottom: 200px;
}
.listItem-resCusMod h3{
    color: #FFF;
    letter-spacing: 1px;
}
.listItem-resCusMod p {
    font-size: 13px;
    color: #FFF;
    line-height: 1.5;
    padding-top: 20px;
    margin-bottom: 0;
}

.item-customizable{
    background-color: #8200bf;
    padding: 80px

}
.item-modern{
    background-color: #56007f;
    padding: 80px

}
.services{
    padding-bottom: 120px;

}
.services-title{
    letter-spacing: 5px;
    font-family: "Open Sans",sans-serif;
    font-size: 2rem;
}

.services p{
    padding: 0 300px 50px;
    text-align: center;
    color: #777;
}

hr{
    width: 50px;
    height: 3px !important;
    background-color:  #AD00FF !important;
    margin: 30px auto 50px !important ;
    font-size: 14px;
    opacity: 1 !important;
}

nav hr{
    width: 100%;
    height: 1px !important;
    background-color:  #41045a !important;
    margin: 0 auto !important ;
    font-size: 14px;
    opacity: 1 !important;
}
.service-item i,img{
    font-size: 40px;
    color: #AD00FF;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.service-item i:hover{
    color: #56007f;
}

.service-item h4{
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: #111111;
    font-weight: 400;
    padding-top: 20px;
}
.bannerBody_start{
    padding: 100px 0;
    background-color: #ad00ff;
}
.bannerBody_start h2{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInLeft;

    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    padding: 0 5px;
}
.bannerBody_start a{
    text-decoration: none;
    color: #FFF;
}

.bannerBody_start div{
    display: flex; 
    justify-content: space-around
}


.button-GetStarted{
    display: inline-block; 
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: all .5s ease-in-out;
    border: 3px solid #FFF;
    margin-top: 30px;
    cursor: pointer;
}

.button-GetStarted:hover{
    background-color: #FFF;
    color: #AD00FF;
}

/* --------------Our Team----------------------- */
.ourTeam{
    padding: 0 70px 200px 70px;
}
img { vertical-align:middle; }
.ourTeam-title{
    padding-top: 200px;
    letter-spacing: 5px;
    font-weight: 400;

}

.ourTeam-listItem div{
    margin: 0 !important;
    padding: 0 !important;
}

.ourTeam-Item img{
    width: 300px;
    height: 400px;
    margin: 0 !important;
    transition: all .5s ease-in-out; 
}

.ourTeam-Item{
    position: relative;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    width: 200px;

}
.mask{
    position: absolute;
    background-color: #AD00FF;
    opacity: 0;
    transition: all .5s ease-in-out;

    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 0 140px 160px 0;

    width: 300px;
    height: 400px;
    z-index: 1;
}

.mask:hover{
    opacity: 0.75;
}


.mask h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 25px;
    padding-top: 150px;
    text-align: center;
}

.mask p{
    font-size: 15px;
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 2;
    margin-bottom: 20px;
}

.mask a {
    padding: 0 15px;
    color: #FFF;
    transition: all .5s ease-in-out;

}
.mask a:hover{
    color: #111111;
    cursor: pointer;
}

/*---------------------------------------*/
.bannerBody_achievements{
    left: -64.8px;
    box-sizing: border-box;
    padding: 120px 65px;
    background-color: #ad00ff;
}
.achievements-item-data{
    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    padding: 0 5px;
}
.achievements-item-name{
    color: #FFF;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}
/*-----------------PORTFOLIO------------------*/
.ourPortfolio{
    padding-top: 200px;
}
.ourPortfolio-title{
    letter-spacing: 5px;
    font-weight: 400;
}

.ourPortfolio-menu{
    display: flex;
    justify-content: center;
}
.ourPortfolio-menu div{
    padding: 0 10px;
}

.ourPortfolio-menu a{
    text-decoration: none;
    color: #212529;
}
.ourPortfolio-menu a:hover{
    color: #AD00FF;
    transition: all .5s ease-in-out;
}
.ourPortfolio-listItem{
    padding-top: 30px;
    position: relative;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.ourPortfolio-item{
    padding: 0 !important;
    position: relative;
    height: auto;
    overflow: hidden;
}
.ourPortfolio-item-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: #AD00FF;
    opacity: 0;
    transition: all .5s ease-in-out;

    overflow: hidden;
    text-align: center;

    z-index: 1;
}
.ourPortfolio-item-mask:hover{
opacity: 0.75;
}
.ourPortfolio-item-mask h2{
    padding: 80px 0 40px;
    color: white;
}

.ourPortfolio-item-mask p{
    color: white;
}

.loadmore{
    padding: 50px;
    background-color: #f7f7f7;
}
.loadmoreBtn-content{
    padding: 10px 30px;
    border: 3px solid black;
    display: inline-block;
}
.loadmoreBtn-content:hover{
    background-color: black;
    color: white;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
/*subcribe*/
.subscibe{
    padding: 100px 0;
}
.subscibe-title{
    color: #333;
    margin-bottom: 50px;
    font-size: 33px;
}
.formSub-input{
    border: 0;
    border-bottom: 1px solid rgba(30,30,30,0.3);
    padding: 10px 230px;
    margin: 0;
    transition: all .5s ease-in-out;
    margin: 0 auto;
    text-align: center;
}
.formSub-input:focus-visible{
    outline: 0;
    border: 0;
    border-bottom: 1px solid #AD00FF !important;
    padding: 10px 230px;
    margin: 0 auto;
    transition: all .5s ease-in-out;
    text-align: center;
}

.formSub-submit{
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #ad00ff;
    border: 3px solid #AD00FF;
    transition: all .5s ease-in-out;
}
.formSub-submit:hover{
    background-color: #AD00FF;
    color: white;

}
/*-----------------TESTIMONIALS---------------------------*/
.testimonials{
    padding: 100px 0;
    margin: 0;
    background-color: black;
    text-align: center;
    color: #FFF;
}
.testimonials h2{
    letter-spacing: 5px;
    font-weight: 400;
}
.testimonials p{
    padding: 0 100px 50px;
    text-align: center;
    color: #FFF;
}
.testimonials hr{
    background-color:  #FFF !important;
}
/*--------------Many Logo-------------*/
.manyLogo{
    display: flex;

    background-color: #f7f7f7;
    padding: 50px 200px 50px 200px ; 
    margin: 0;
}
.manyLogo-item{
    padding: 0 !important;
}
.manyLogo-item img{
    max-height: 75px;
    width: auto;
    margin: 20px auto !important;
    cursor: pointer;
    opacity: .7;
    transition: all .5s ease-in-out;
}
.manyLogo-item img:hover{
    opacity: 1;
}

/*----------CONTACT--------------------*/
.contact-title{
    padding-top: 200px;
    letter-spacing: 5px;
    font-weight: 400;
}

.information div{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.information h4{
    font-weight: 400;
    line-height: 1.2;
    color: #111111;
    letter-spacing: 3px;
}
.information p{
    font-size: 12px;
    color: #777777;
}

.infoEmail p{
    color: #AD00FF;
}
.formInfo{
    padding: 50px 50px;

}

.formInfo input{
    border: 0;
    border-bottom: 1px solid rgba(30,30,30,0.3);
    transition: all .5s ease-in-out;
    margin: 15px auto;
    text-align: left;
}

.formInfo input:focus-visible{
    outline: 0;
    border: 0;
    border-bottom: 1px solid #AD00FF !important;
    margin: 15px auto;
    transition: all .5s ease-in-out;
}
.formInfo-divMessages{
    margin-top: 100px !important;
    padding: 0 70px;
}

.formInfo-divMessages input{
    padding-bottom: 150px;
}
.formInfo-submit{
    /* position: absolute;
    right: 400px; */
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #ad00ff;
    border: 3px solid #AD00FF;
    transition: all .5s ease-in-out;
}
.formInfo-submit:hover{
    background-color: #AD00FF;
    color: white;
}

.listUsers{
    margin-bottom: 20px;
}

.listUsers-title{
    padding-bottom: 80px;
}

.listUsers table{
    display: flex;
    justify-content: center;
}



.listUsers td{
    border:3px solid #ad00ff ;
}

.listUsers td h6 , p , h5{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.listUsers h1{
    padding: 0 20px;
}
#list-users i{
    color: black;
    transition: all .5s ease-in-out;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
}
#list-users i :hover{
    color: #AD00FF;
}
/*-------------Banner footer-------------*/
.bannerFooter{
    background-color: black;
    padding: 50px 0;
}
.manyicon{
    padding: 40px 0 20px;
}
.manyicon i{
    color: white;
    transition: all .5s ease-in-out;
    font-size: 30px;
    padding: 0 20px
}
.manyicon i:hover{
    color: #AD00FF;
}
.footer2017{
    background-color: #56007f;
    padding: 10px;
    color: #FFF;
}

#text{
    display: block;
    color: #000;
    font-weight: 500i;
    font-style: italic;
    padding: 5px;
}

@media all and (max-width: 1100px){

    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
    }
    .nav-list{
        position: absolute;
        list-style-type: none;
        width: 100%;
        padding-top: 15px;
        display: none;
        right: 15px;
        top: 25px;
    }
    .nav-list .list-item{
        display: block;
        border-top: 1px solid #777777;
        position: relative;

    }

    .active{
        display: block;
    }
    .formInfo-divMessages{
    padding: 0;
    }

    .banner-title2{
        font-size: 25px;
    letter-spacing: 20px;

    }

    .banner-title{
        font-size: 70px;
    letter-spacing: 18px;

    }
    .logo img{
        width: 75%;
    }

    .welcome-title{
        font-size: 35px;
        letter-spacing: 8px;
    }
    .welcome-titleCreate{
        font-size: 25px;
        letter-spacing: 8px;
    }
    .welcome p{
        font-size: 13px;
        padding: 40px 150px !important;
    }

    .services p{
        font-size: 13px;
        padding: 40px 150px !important;
    }

    h4{
        font-size: 18px !important;
    }
    h2{
        font-size: 30px !important;
        letter-spacing: 8px;
    }
}

@media all and (max-width: 600px){
    .banner-title{
        font-size: 50px;
    letter-spacing: 15px;

    }
    .banner-title2{
        font-size: 20px;
    letter-spacing: 15px;
    }
    .welcome-title{
        font-size: 28px;
        letter-spacing: 6px;
    }
    .welcome-titleCreate{
        font-size: 18px !important;
        letter-spacing: 6px !important;
    }
    .welcome p{
        font-size: 12px !important;
        padding: 30px 100px !important;
    }
    .services p{
        font-size: 12px !important;
        padding: 30px 100px !important;
    }
    h4{
        font-size: 15px !important;
    }
    h2{
        font-size: 25px !important;
        letter-spacing: 7px;
    }
    .services-title{
        font-size: 24px !important;
        letter-spacing: 7px !important;
    }
}