USE [master]
GO
/****** Object:  Database [Crucio]    Script Date: 9/12/2022 1:42:26 PM ******/
CREATE DATABASE [Crucio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Crucio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGUYENMINH\MSSQL\DATA\Crucio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Crucio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGUYENMINH\MSSQL\DATA\Crucio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Crucio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Crucio]
GO
/****** Object:  Table [dbo].[user_tbl]    Script Date: 9/12/2022 1:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[message] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_tbl] ON 

INSERT [dbo].[user_tbl] ([id], [email], [message], [name]) VALUES (1028, N'minhnnm1009xx@gmail.com', N'xxxx', N'Nguyen Minhxxx')
INSERT [dbo].[user_tbl] ([id], [email], [message], [name]) VALUES (1029, N'minhnnm1009@gmail.com', N'Minhdz', N'Minh Nguyen')
INSERT [dbo].[user_tbl] ([id], [email], [message], [name]) VALUES (1031, N'aaaa@gmail.com', N'mmmm', N'aaaa')
SET IDENTITY_INSERT [dbo].[user_tbl] OFF
GO
USE [master]
GO
